body {
    background-color: #e1ebf6;
    font-family: 'Arial', sans-serif;
    padding-top: 50px;
}

main.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #007bff;
}

label {
    font-weight: 600;
}

.form-control {
    border-radius: 8px;
}

.btn-primary {
    border-radius: 8px;
}