<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>home</title>
    <link rel="stylesheet" href="/templates/css/test.css">
</head>
<body>
    <div class="bgAnimation" id="bgAnimation">
        <div class="backgroundAmim"></div>
    </div>

    <header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <img src="/templates/images/logo.png" alt="logo" style="width: 60px;height: 50px;">
        </a>
      
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/contest" class="nav-link">Create Contests</a></li>
          <li class="nav-item"><a href="/list" class="nav-link">Contests</a></li>
          <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">Logout</a></li>
        </ul>
        <div class="profile-image d-flex align-items-center">
          <!-- Insert the user's profile image here -->
          <!-- Example: -->
          <img src="/templates/images/profile.png" alt="Profile Image" style="width: 40px; height: 40px; border-radius: 50%;">
        </div>
        
    
    
      </header>
    
    
    
      <div class="header">
      <img src="/templates/images/back.png" alt="Header Image" class="img-fluid">    
      <div class="overlay">
        <h1>Feed Code<br><hr class="new6"></h1>
        <p>One of the Leading Programming Portal For Coding.</p>
      </div>
    </div><br><br><br>
    
    
    <div class="container cont1">
      <div class="row">
        <div class="col-md-4">
          <img src="/templates/assets/coding1.png" class="img-fluid card-img" alt="Image">
        </div>
        <div class="col-md-8">
          <center><h2>Description</h2></center>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </div><br>
    
    
    <div id="about-us" class="container cont1">
      <div class="row">
        <div class="col-md-8">
          <h2>About Us</h2>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-4">
          <img src="/templates/assets/coding.jpg" class="img-fluid card-img" alt="Image">
        </div>
      </div>
    </div><br>
    
    
    
    <div id="contact-us" class="container cont1">
      <div class="row">
        <div class="col-md-8">
          <h2>Contact Us</h2>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-4">
          <img src="/templates/assets/contact.jpg" class="img-fluid card-img" alt="Image" >
        </div>
      </div>
    </div><br>
    
    
    
    
    
    <footer class="footer">
      <center>
      <p>&copy; 2024 App. All rights reserved.</p>
      <p>Developed By <a href="#">Feed Code Team</a></p>
      </center>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/templates/js/home.js"></script>
    </body>
    
    